@model IEnumerable<WebCourses.Models.Answer>


@foreach (var answer in Model) {
    <div class="list-group ">
        <a asp-action="Edit" asp-controller="Answers" asp-route-answerId="@answer.Id" asp-route-courseId="@ViewContext.RouteData.Values["courseId"]" asp-route-testId="@ViewContext.RouteData.Values["testId"]" asp-route-questionId="@ViewContext.RouteData.Values["questionId"]" class="list-group-item list-group-item-action flex-column align-items-start">
            @if (answer.Correct)
            {
                <p class="text-success "><strong>@answer.Content</strong></p>
            }
            else
            {
                <p class="text-primary"><strong>@answer.Content</strong></p>
            }
        </a>
    </div>
}
