@model WebCourses.Models.User

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>

    <h4>Tests</h4>
    <hr />
    @foreach (var testResult in ViewBag.userTestResults)
    {
        double maxScore = testResult.Test.Questions.Count;
        var avarageTestResult = testResult.PointsCount / maxScore * 100;
    <div class="list-group">
        <div class="list-group-item list-group-item-action">
            <strong>@testResult.Test.Name</strong>
            <div class="list-group-item" style="background-color:rgba(255,255,255,0);">
                @if (!testResult.Checked)
                {
                    <text> (open questions wait for your mark) </text>
                }
                else
                {
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: @Math.Round(@avarageTestResult)%" aria-valuenow=@Math.Round(@avarageTestResult) aria-valuemin="0" aria-valuemax="100">@Math.Round(@avarageTestResult, 2)%</div>
                    </div>
                }
            </div>
        </div>
    </div>

    }
</div>
    <br /><br />
    <div>
        <a asp-action="Details" asp-controller="Courses" asp-route-id="@ViewBag.courseId">Back to course</a>
    </div>
